body {
    background-color: #e2e2e2;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  main {
    margin: 0 auto;
    padding: 32px 24px;
    padding-top: 70px;
    max-width: 1280px;
    min-height: 100vh;
  }
  
  nav h3 {
    color: orange;
  }
  
  footer {
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: #bcbcbc;
    color: rgb(3, 76, 79);
  }
  
  footer a {
    color: inherit;
    text-decoration: none;
  }